[Unit]
Description=Elephant
After=xdg-desktop-autostart.target

[Service]
Type=simple
ExecStart=/usr/bin/elephant
Restart=on-failure
RestartSec=10

[Install]
WantedBy=graphical-session.target
